.card-movie {
    padding:15px;

    .row {
        padding:15px;
        border-style: solid;;
        border-width: 1px;
        border-radius: 5px;
        height: 150px;
    }
    .checked {
        border-color: #5afaca;
    }
    
}
