api/src/CopaFilmes.Domain/obj/Debug/netcoreapp3.1/CopaFilmes.Domain.csproj.FileListAbsolute.txt
api/src/CopaFilmes.Domain/obj/Debug/netcoreapp3.1/CopaFilmes.Domain.csprojAssemblyReference.cache
api/src/CopaFilmes.Domain/obj/Debug/netcoreapp3.1/CopaFilmes.Domain.dll
api/src/CopaFilmes.Domain/obj/Debug/netcoreapp3.1/CopaFilmes.Domain.pdb
api/src/CopaFilmes.Domain/obj/Release/netcoreapp3.1/CopaFilmes.Domain.AssemblyInfo.cs
api/src/CopaFilmes.Domain/obj/Release/netcoreapp3.1/CopaFilmes.Domain.AssemblyInfoInputs.cache
api/src/CopaFilmes.Domain/obj/Release/netcoreapp3.1/CopaFilmes.Domain.assets.cache
api/src/CopaFilmes.Domain/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.deps.json
api/src/CopaFilmes.Domain/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.dll
api/src/CopaFilmes.Domain/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.pdb
api/src/CopaFilmes.Domain/obj/Debug/netcoreapp3.1/CopaFilmes.Domain.csprojAssemblyReference.cache
api/test/CopaFilmes.Domain.Test/obj/Release/netcoreapp3.1/CopaFilmes.Domain.Test.AssemblyInfo.cs
api/test/CopaFilmes.Domain.Test/obj/Release/netcoreapp3.1/CopaFilmes.Domain.Test.AssemblyInfoInputs.cache
api/test/CopaFilmes.Domain.Test/obj/Release/netcoreapp3.1/CopaFilmes.Domain.Test.assets.cache
api/src/CopaFilmes.Domain/obj/Debug/netcoreapp3.1/CopaFilmes.Domain.csprojAssemblyReference.cache
api/src/CopaFilmes.Application/obj/Release/netcoreapp3.1/CopaFilmes.Application.AssemblyInfo.cs
api/src/CopaFilmes.Application/obj/Release/netcoreapp3.1/CopaFilmes.Application.AssemblyInfoInputs.cache
api/src/CopaFilmes.Application/obj/Release/netcoreapp3.1/CopaFilmes.Application.assets.cache
api/src/CopaFilmes.Application/obj/CopaFilmes.Application.csproj.nuget.cache
api/src/CopaFilmes.Application/obj/CopaFilmes.Application.csproj.nuget.dgspec.json
api/src/CopaFilmes.Application/obj/CopaFilmes.Application.csproj.nuget.g.props
api/src/CopaFilmes.Application/obj/project.assets.json
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.assets.cache
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.csproj.CopyComplete
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.csproj.FileListAbsolute.txt
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.csprojAssemblyReference.cache
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.dll
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.pdb
api/src/CopaFilmes.Application/obj/CopaFilmes.Application.csproj.nuget.cache
api/src/CopaFilmes.Application/obj/CopaFilmes.Application.csproj.nuget.dgspec.json
api/src/CopaFilmes.Application/obj/CopaFilmes.Application.csproj.nuget.g.props
api/src/CopaFilmes.Application/obj/project.assets.json
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.assets.cache
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.csproj.FileListAbsolute.txt
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.csprojAssemblyReference.cache
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.dll
api/src/CopaFilmes.Application/obj/Debug/netcoreapp3.1/CopaFilmes.Application.pdb
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/CopaFilmes.Application.deps.json
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/CopaFilmes.Application.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/CopaFilmes.Application.pdb
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.pdb
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
api/src/CopaFilmes.Application/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/test/CopaFilmes.Domain.Test/bin/Debug/netcoreapp3.1
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Domain.pdb
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.deps.json
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.pdb
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.runtimeconfig.dev.json
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.runtimeconfig.json
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.TestHost.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/testhost.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.assert.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.core.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
api/test/CopaFilmes.Integration.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
api/test/CopaFilmes.Integration.Test/obj/CopaFilmes.Integration.Test.csproj.nuget.cache
api/test/CopaFilmes.Integration.Test/obj/CopaFilmes.Integration.Test.csproj.nuget.dgspec.json
api/test/CopaFilmes.Integration.Test/obj/CopaFilmes.Integration.Test.csproj.nuget.g.props
api/test/CopaFilmes.Integration.Test/obj/CopaFilmes.Integration.Test.csproj.nuget.g.targets
api/test/CopaFilmes.Integration.Test/obj/project.assets.json
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.AssemblyInfo.cs
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.AssemblyInfoInputs.cache
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.assets.cache
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.csproj.CopyComplete
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.csproj.FileListAbsolute.txt
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.csprojAssemblyReference.cache
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.dll
api/test/CopaFilmes.Integration.Test/obj/Debug/netcoreapp3.1/CopaFilmes.Integration.Test.pdb
