<div class="margin-top-50 row">
    <div class="jumbotron background-container col-lg-10 offset-lg-1 col-md-10 offset-md-1">
        <h4 class="text-secondary text-center"> CAMPEONATO DE FILMES</h4>
        <h2 class="text-white text-center">Fase de seleção</h2>
        <h5 class="text-light text-center">Selecione 8 filmes que você deseja que entrem na competição e depois
            pressiona o botão 'Gerar Campeonato' para prosseguir.</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
        <div>
            <h3 class="float-left">Contador {{counterMovies}}</h3>
            <button class="btn btn-primary float-right" (click)="generateChampionship()"> Gerar campeonato</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
        <div class="list-card-movie row">
                <card-movie *ngFor="let movie of movies" class="col-lg-4 col-md-4" [movie]="movie" (addMovie)="pickMovie(movie)" (removeMovie)="unselectMovie(movie)">
                </card-movie>
        </div>
    </div>
</div>
